:root {
    --beige: #E6E4CE;
    --light-pink: #EBC6C3;
    --pink: #EFA8B8;
    --black: #270722;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light-pink);
    font-family: "Roboto", sans-serif;
    color: var(--black);
}
h2 {
    color: var(--beige);
}
ul {
    list-style-type: circle;
    margin-left: 3em;
    padding: 1em 0 1em 0;
}
li {
    padding: 0 0 .5em 0;
}
.container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.content-container {
    grid-column: 2 / 3;
    width: 30em;
    margin-top: 7em;
    display: flex;
    flex-direction: column;
}
.divider {
    width: 31em;
    height: .5em;
    background-color: var(--beige);
    border-radius: .5em;
}
.text {
    margin-left: 2em;
    padding: 1em 0 1em 0;
}
img {
    width: 30em;
}
.img-container {
    grid-column: 1 / 2;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}